@import './../../stylus'

.page-login

    background: $md-gray-100

    label
        margin-bottom: 20px
        display: block

    &__form
        width: 400px

        &__label
            margin-bottom: 10px

        &__submit
            margin-top: 40px
            display: flex
            justify-content: center
