@import './../../../stylus'

.form-input
    height: 50px
    width: 100%
    font-size: 18px
    padding: 16px 24px
    box-sizing: border-box
    border-radius: 8px
    white-space: nowrap
    input-shadow-gray()
    background: #FFF
    border: 1px solid transparent
    text-overflow: ellipsis
    outline: none
    -webkit-appearance: none

    &:focus
        outline: none

    &:-webkit-autofill
        -webkit-box-shadow: 0 0 0 50px #CCC inset
        background-color: transparent !important

    &_error
        input-shadow-error()
